
<div class="row">
  <div class="large-12 columns large-centered">

    <h2>編集</h2>

    <%= render 'form' %>
<!-- 
<%= link_to 'Show', @saving %> |
<%= link_to 'Back', savings_path %>
 -->
  </div>
</div>